.grid-cont{
    display: grid;
    grid-template-columns: auto auto auto;
    /* row-gap: 1px; */
    /* column-gap: 1px; */
    width: 202px;
    height: 202px;
    position: absolute;
    top: 20%;
    right: 35%;
    bottom: 30%;
    left: 35%;
    /* border: 2px solid black; */
    


}
.cell{
    
    border: 1px solid blanchedalmond;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: hsla(85, 99%, 26%, 0.978);
    height: 101px;
    width: 101px;
    
}
body{
    
    /* display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; */
    flex-wrap: nowrap;
    /* width: 100%;
    height: 100%; */
    background-color: black;
    
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%; */
    /* transform: translate(-50%,-50%); */
}
/* body{
    background-color: black;
    position:relative;
    height:100vh ;
    
} */
#switchBtn{
    background-color: white;
    position: absolute;
    right:0;
    top:0;
}
input[type="radio"]{
    accent-color: rgb(154, 2, 249);
    

}
.lable{
    color: rgb(255, 161, 9);
    font-weight: bolder;
    font-size: larger;
}
#choice-con{
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    height: 100px;
    margin-left: 150px;

}
.head{
        color: rgb(52, 253, 6);
}
.btncon{
    background-color: rgb(77, 79, 47);
    width: 100px;
}